[Desktop Entry]
Name=Rogue
Name[ar]=روج
Name[bg]=Измамник
Name[eo]=Fripono
Name[lt]=Išdykėlis
Name[lv]=Blēdis
Name[pt_BR]=Selvagem
Name[uk]=Тать
Comment=The very first roguelike game
Comment[pl]=Najpierwsza gra roguelike
Icon=rogue.png
Exec=/usr/games/rogue
Terminal=true
Type=Application
Categories=Game;X-RPGGame;
Encoding=UTF-8
# vi: encoding=utf-8
